body {
	background-color: #F6D4BD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #524B4B;
	background-image: url(images/bodyback1.png);
	background-repeat: repeat-x;}
	
#rahmen {
	margin: 0px auto;
	width: 900px;
	text-algin: center;
	background-color: F8E3D5;
	background-image: url(images/background1.png);
	background-repeat: repeat-y;
	font-size: larger;
}
	
#logo1 {
	margin: 0px auto;
	width: 900px;
	height: 60px;
	background-image: url(images/logo1.jpg);
	background-color: #ffffff;
	background-repeat: no-repeat;

	margin-left: 0px;
    margin-right: 0px;
    display: block;
}
	
#logo2 {
	width: 900px;
	height: 285px;
	text-align: center;
	background-image: url(images/logo2.JPG);
	background-repeat: no-repeat;
	margin-left: 0px;
    margin-right: 0px;
    display: block;
	}
	
#balken_oben {
	width: 900px;
	height: 31px;
	background-image: url(images/balkenoben1.png);}
	/*

	*/
#content {
	width: 460px;
	float: right;
	text-algin: center;
	padding-top: 10px;
	padding-right: 220px;
	padding-bottom: 10px;
	padding-left: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 12px;
	}

#footer {
	width: 900px;
	height: 68px;
	clear: right;
	background-image: url(images/footer1.png);}
	
	/*Definition der Links*/

#menue a:visited {
	color: #524B4B;
	background-color: #FB7E2A;
	text-decoration: none;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}



#menue em {
	color: #312D27;
	text-decoration: none;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #A07B3E;
	font-style: normal;}
	
	/*Ende des Menüs*/
	
	/*Definition des Inhaltsbereiches - Feinheiten*/
	
h1 {
	color: #70562B;
	font-size: 2em;
}
	
h2 {
	color: #A07B3E;
	font-size: 1.2em;
}

	
/*Definition der Links*/


#content a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #524B4B;}

/*-----------------------------------------------------------------------------------------------*/


  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #E3CAA1;
}

ul {
  text-align: center;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #eb7a00;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


