body {
	background-color: #F6D4BD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #524B4B;
	background-image: url(images/bodyback1.png);
	background-repeat: repeat-x;}
	
#rahmen {
	margin: 0px auto;
	width: 900px;
	text-algin: left;
	background-color: F8E3D5;
	background-image: url(images/background1.png);
	background-repeat: repeat-y;
	font-size: larger;
}
	
#logo1 {
	width: 900px;
	height: 60px;
	background-image: url(images/logo1.jpg);
	background-color: #ffffff;
	background-repeat: no-repeat;
	margin-left: 0px;
    margin-right: 0px;
    display: block;
}
	
#logo2 {
	width: 900px;
	height: 285px;
	background-image: url(images/logo2.JPG);
	background-repeat: no-repeat;
	margin-left: 0px;
    margin-right: 0px;
    display: block;
	}
	
#balken_oben {
	width: 900px;
	height: 31px;
	background-image: url(images/balkenoben1.png);}
	
#menue {
	width: 160px;
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;}
	
#content {
	width: 460px;
	float: right;
	text-algin: center;
	padding-top: 10px;
	padding-right: 220px;
	padding-bottom: 10px;
	padding-left: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 12px;
	}

#footer {
	width: 900px;
	height: 68px;
	clear: right;
	background-image: url(images/footer1.png);}
	
	/*Definition der Links*/ 
	
#menue ul {
	list-style-type: none;
	padding-left: 1px;
	width: 130px;}
	
#menue li {
	padding-top: 1px;}


#menue a:link {
	color: #524B4B;
	background-color: #FB7E2A;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 5px;}


#menue a:visited {
	color: #524B4B;
	background-color: #FB7E2A;
	text-decoration: none;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}


#menue a:hover {
	color: #312D27;
	background-color: #A07B3E;}


#menue em {
	color: #312D27;
	text-decoration: none;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #A07B3E;
	font-style: normal;}
	
	/*Ende des Menüs*/
	
	/*Definition des Inhaltsbereiches - Feinheiten*/
	
h1 {
	color: #70562B;
	font-size: 2em;
}
	
h2 {
	color: #A07B3E;
	font-size: 1.2em;
}

	
/*Definition der Link*/

#content a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #524B4B;}
	
#content a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #524B4B;}




